<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>RoleBasedLogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <!-- Filter for Admin -->
  <filter>
    <filter-name>AdminAuthFilter</filter-name>
    <filter-class>com.filters.AdminAuthFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>AdminAuthFilter</filter-name>
    <url-pattern>/admin.jsp</url-pattern>
</filter-mapping>

<!-- Filter for Teacher -->
<filter>
    <filter-name>TeacherAuthFilter</filter-name>
    <filter-class>com.filters.TeacherAuthFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>TeacherAuthFilter</filter-name>
    <url-pattern>/teacher.jsp</url-pattern>
</filter-mapping>

<!-- Filter for Student -->
<filter>
    <filter-name>StudentAuthFilter</filter-name>
    <filter-class>com.filters.StudentAuthFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>StudentAuthFilter</filter-name>
    <url-pattern>/student.jsp</url-pattern>
</filter-mapping>
  
  
</web-app>